
/* Body */
body{
  background-color: rgb(240, 240, 240);
  font-family: 'Open Sans', sans-serif;
  color: rgb(20, 20, 20);
  font-size: 15px;
  line-height: 20px;
  font-weight: lighter;
}

/* Headers */
h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  color: rgb(30, 30, 30);
}
h1{
  font-size: 24px;
  line-height: 25px;
  font-weight: normal;
  color: #82AF9A;
}
h2{
  font-size: 20px;
  line-height: 22px;
  font-weight: lighter;
}
h3{
  font-size: 17px;
  line-height:19px;
}

/* Links */
a{
  color: #82AF9A;
  text-decoration: none;
}
a:hover{
  color: #4A7C59;
}

/* Class and Id */
.container{
  margin: 0 auto; /* This automatically sets left/right margins */
  padding: 5px 30px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 450px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 270px;
  }
}

.card{
  background-color: rgb(250, 250, 250);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 250px;
}
.img-circle{
  border-radius: 50%;
}
.img-profile{
  width: 150px;
  border: 3px solid #92B9BD;
}
.text-center {
  text-align: center;
}
.button{
  background-color: #82AF9A;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}
.button:hover{
  background-color: #4A7C59;
}
.list-inline {
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.table img{
  width: 100px;
  margin: 20px;
}
.media{
  font-size: 30px;
}
.social-network p{
  margin: 0px;
}
#general p{
  padding: 15px;
}
#general{
  padding: 35px;
}


